.counter {
    max-width: 520px;
    max-height: 360px;
    border: #60d7f5 3px solid;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}