.tablo {
    width: 90%;
    height: 50%;
    border: #60d7f5 3px solid;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex: 3;
    font-weight: 700;
    font-size: 80px;
    color: #60d7f5;
    justify-content: center;
}

.redTablo {
    width: 90%;
    height: 50%;
    border: #60d7f5 3px solid;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex: 3;
    font-weight: 700;
    font-size: 100px;
    color: red;
    justify-content: center;
}

.error {
    width: 90%;
    height: 50%;
    border: #60d7f5 3px solid;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex: 3;
    font-weight: 700;
    font-size: 40px;
    color: red;
    justify-content: center;
}