.settings {
    max-width: 520px;
    max-height: 360px;
    min-width: 350px;
    min-height: 250px;

    border: #60d7f5 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}